.wrapper {
    height: 45vh;
    width: 70vw;
    display: flex;
    font-family: 'MazzardR';
    padding: 1rem;
    color: rgb(58, 56, 56);
    position: relative;
}

.noteWrapper {
    font-size: 0.9rem;
}

.videoWrapper {
   padding: 1rem;

   iframe {
        border-radius: 6px;
        box-shadow: none;
   }
}

.btnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.btnCreate {
    width: 20rem;
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    font-family: "MazzardR";
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    background-color: #2cb3d2;
    cursor: pointer;
    margin-bottom: 1.4rem;
    bottom: 0;
    right: 1rem;
}

//media queries for laptop
@media (min-width: 1024px) and (max-width: 1440px) {
    .wrapper {
    height: 60vh;
    width: 90vw;
    display: flex;
    font-family: 'MazzardR';
    padding: 2rem;
    color: rgb(58, 56, 56);
    position: relative;
}
}